.container {
  margin: 0 auto;
  padding: 0 5rem;
}

.row {
  display: flex;
  flex-direction: column;
}

.row-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.btn-search {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;

}

.coin-list {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
